.button {
    font-size: 14px;
    padding: 0px 10px;
    height: 36px;
    display: flex;
    align-items: center;
  
    color: var(--light-body);
    border: medium;
    box-shadow: var(--light-primary) 0px 0px 0px 2px;
    border-radius: 18px;
    background-color: transparent;

    transition: all 0.3s ease-out 0s;
  
    &:active,
    &:focus,
    &:hover {
      cursor: pointer;
      transition: all 0.2s ease-out 0s;
      box-shadow: var(--light-primary) 0px 0px 0px 4px;
    }
}

.small {
  color: black;
}