.card {
    border: 2px solid var(--light-primary);
    border-radius: 20px;
    padding: 40px;
}

.small {
    width: 280px;
    min-height: 280px;
}

.large {
    width: 560px;
    min-height: 280px;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: var(--light-body);
}

p {
    font-family: 'Open Sans', sans-serif;
}