.card {
    border: 1px solid black;
    border-radius: 20px;
    padding: 40px;
}

.small {
    width: 280px;
    min-height: 280px;
}

.large {
    width: 560px;
    min-height: 280px;
}

.title {
    font-family: 'Open Sans', serif;
    font-size: 25px;
    font-weight: 500;
    color: var(--light-body);
}