:root {
    --light-primary: #93c0c1;
    --light-secondary: '#FEECB9';
    --light-accent: white;
    --light-body: black;
    --dark-primary: #93c0c1;
    --dark-secondary: #FEECB9;
    --dark-accent: black;
    --dark-body: white;
}