:root {
    --light-primary: rgb(161, 164, 166);
    --light-secondary: #FEECB9;
    --light-accent: #93c0c1;
    --light-body: rgb(30, 26, 26);
    --dark-primary: #93c0c1;
    --dark-secondary: #FEECB9;
    --dark-accent: black;
    --dark-body: white;
}